/* Footer.css */
.footer {
    background-color: #002013;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* border-bottom: 1px solid white; */
  }
  
  .footer-section {
    flex: 1;
    padding: 0 10px;
  }
  
  .footer-section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid white;
  }
  
  .footer-logo img {
    height: 55px; /* Adjust according to your logo size */
  }
  
  .footer-links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .footer-links li {
    font-size: 0.9rem;
  }
  
  .footer-links li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-images{
    margin-left: 99px;
  }

  /* .footer-logo {
    display: flex;
    justify-content: center !important;
    align-items: center !important; 
}

.footer-images {
    max-width: 100%;
    margin: 0 10px; 
} */

  